<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head', {title: 'To Do List'}); -%>
<body>
  <h1>To Do List</h1>
  <ul>
    <% todoList.forEach(todo => { %>
      <li>
        <%- include('./toDoInput', {todo}); -%>
        <%= todo.name %>
      </li>
    <% }) %>
  </ul>
</body>
</html>